html,body{
    height:50%;

  }
body{
    text-align:center;
}
body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
}
button{
    background:#1aab63;
    color:#fff;
    border:none;
    position:relative;
    height:1.5em;
    font-size:1.4em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 0.5em;
    margin-left: 1em;
}
button:hover{
    background:#fff;
    color:#1AAB8A;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}

@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-align: center;

}
h1{
    font-family: 'RixYeoljeongdo_Regular';
    font-size: 5em;
    align-content: center;
    color: #177546;
}
h2{
    font-size: 1.5em;
    align-content: center;
    color: rgb(54, 54, 54);
}

h3{
    font-size: 1em;
}
#div{
    position:absolute;
    top: 50%;
    left: 50%;
    }